.logo {
    display: inline-block;
}

header {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

header p {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-family: KoPubWorld_Dotum_Bold;
    font-size: 30px;
}

header img {
    width: 122px;
    height: 95px;
    object-fit: cover;
}

body {
    margin: 0 auto;
    font-family: KoPubWorld_Dotum_Medium;
    font-size: 20px;
}

.login {
    display: inline-block;
    position: absolute;
    left: 88%;
    font-family: KoPubWorld_Dotum_Light;
    font-size: 17px;
}

hr {
    border: 0;
    background: black;
    height: 3px;
}