/*main section(메인 내용)*/
section{
	text-align: center;
}
p{
		font-size: 25px;
		font-weight: 550;
}
section table{
	border: solid 3px #F2F2F2;
	border-collapse: collapse;
	padding: 0px;
}
section table{
	/*idth: 100%;*/
}
section tr{
	
	padding: 0px;
}
section td{
	padding: 5px;
}

.article_1 p{
	text-align: center;
}
.article_1{
	float: left;
	width: 68%;
	background: #F2F2F2;
}
.article_1 a{
	float: left;
}
.article_2{
	float: right;
	width: 28%;
	background: #F2F2F2;
}
table{
	table-layout: fixed;
}
td{
	width: 80px;
	height: 30px;
	word-wrap: break-word;
}
.input{
	width: 155px;
	height: 32px;
}
.table_A{
	width: 100px;
	background: #F2F2F2;
}
.td_B{
	width: 57.2%;
}

/* 지역 버튼 css */
.zone{
	background-color: white;
	border:0;
	outline: 0;
	border-radius: 50%;
	cursor: pointer;
	font-size: 15px;
	padding: 7px 11px;
}